<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>404 - Page Not Found</title>
</head>
<body>
    <!-- Header -->
    <%- include('./components/header.ejs') %>
    
    <main class="main">
        <p class="description-text">
            404 - La página no se encontró
        </p>
        <a href="/" class="go-home">Ir al inicio</a>
    </main>

    <!-- Footer -->
    <%- include('./components/footer.ejs') %>
</body>
</html>